<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{{ title|default:"Redoc" }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap">
    <style>
      {# Redoc doesn't change outer page styles. #}
      body {
        font-family: 'Inter', san-serif !important;
        margin: 0;
        padding: 0;
      }
      a, div, h1, h2, h3, label, li, ul, p {
        font-family: 'Inter', san-serif !important;
      }
    </style>
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    {% if settings %}
    <div id="redoc-container"></div>
    <script src="{{ redoc_standalone }}"></script>
    <script>
      const redocSettings = {{ settings|safe }};
      Redoc.init("{{ schema_url }}", redocSettings, document.getElementById('redoc-container'))
    </script>
    {% else %}
    <redoc spec-url="{{ schema_url }}"></redoc>
    <script src="{{ redoc_standalone }}"></script>
    {% endif %}
    {% endblock body %}
  </body>
</html>
